<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ratings</title>
</head>
<body>
<div class="header__fields">
    <ul class="header__fields_list">
        <li class="header__fields_element">
            <a href="{{ url_for('hello_world') }}">Home</a></li>
        <li class="header__fields_element">
            <a href="{{ url_for('rating_g') }}">Rating G</a>
        </li>
        <li class="header__fields_element">
            <a href="{{ url_for('rating_family') }}">Rating Family</a>
        </li>
        <li class="header__fields_element">
            <a href="{{ url_for('rating_adult') }}">Rating Adult</a>
        </li>
    </ul>
</div>
<div class="wrapper">
Movies for rating: {{ rating_list }}
<br>
    [
    {% for movie in movie_list %}

        { {% for key, value in movie.items() %}
            "{{ key|e }}":{{ value|e }}<br>
        {% endfor %} },

            <br>
    {% endfor %}
    ]
</div>
</body>
</html>